---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Test
{% include base_path %}

**Journal (*: equal contributions; #: alphabetical order)**

- Liu, W.* , **Liao, X.***, Luo, Z., Yang, Y., Lau, M. C., Jiao, Y., ... & Liu, J. (2023). Probabilistic embedding, clustering, and alignment for integrating spatial transcriptomics data with PRECAST. ***Nature Communications***, 14(1), 296.
- Liu, W., **Liao, X.**, Yang, Y., Lin, H., Yeong, J., Zhou, X., ... & Liu, J. (2022). Joint dimension reduction and clustering analysis of single-cell RNA-seq and spatial transcriptomics data. ***Nucleic Acids Research***, 50(12), e72-e72.
- **Liao, X.***, Chai, X*., Shi, X., Chen, L. S., & Liu, J. (2020). The statistical practice of the GTEx Project: from single to multiple tissues. ***Quantitative Biology***, 1-17.
- Kang, L., **Liao, X.**#, Liu, J., & Luo, Y. (2023). Deep Estimation for Q* with Minimax Bellman Error Minimization, ***Information Sciences***, 648, 119565.
- Wang, Y., **Liao, X.**, & Lin, S. (2019). Rescaled Boosting in Classification. ***IEEE transactions on neural networks and learning systems***, 30(9), 2598-2610.

**Conference**
- Zhu, J., **Liao, X.**, Li, C., Jiao, Y., Liu, J., Lu, X. (2023). Invariant and Sufficient Supervised Representation Learning. ***The International Joint Conference on Neural Networks (IJCNN)***, (pp. 1-8). IEEE.
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
